{% extends 'base_detail.html '%}

{% block detalle_left_container %}
<figure class="container ">
  <img class="imagen-perfil border-black-2 margin-auto-left-right background-white"
       src="{{object.fotografia.url}}"
       alt="{{object.get_nombre_completo}}"/>
  <figcaption class="detalle-nombre padding-normal-left-right">
    <a href="{% url "empleado:update" object.slug %}" class="rotulo link padding-normal-up-down display-block text-center font-weight-bolder text-shadow-black">
      <p>
        {{object.nombre}}
      </p>
      <p>
        {{object.apellido_paterno}} {{object.apellido_materno}}
      </p>
    </a>
    <p class="text-center border-top-red-1  padding-normal-up-down color-gris-oscuro font-weight-bolder ">
        {{object.cargo}} de {{object.area.nombre}}
    </p>
  </figcaption>

  <div class="group-detalle">
    <div class="detalle-item">
      <p class="detalle-item-label font-weight-bolder">
        Descripción (Empleado)
      <p class="detalle-item-area font-weight-bolder">
        {{object.descripcion_empleado}}
      </p>
    </div>
  </div>

  <div class="group-detalle">
    <div class="detalle-item">
      <p class="detalle-item-label font-weight-bolder">
        Observación (Empleado)
      <p class="detalle-item-area font-weight-bolder">
        {{object.observacion_empleado}}
      </p>
    </div>
  </div>
</figure>
{% endblock detalle_left_container %}
{% block detalle_right_container %}
<!-- Datos - Usuario -->
<div class="border-bottom-red-1">
  <h3 class="rotulo upper-case color-white text-shadow-black padding-normal-up-down">
    Datos Personales
  </h3>
</div>
<div class="group-detalle">
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
        D.N.I.
    <p class="detalle-item-value font-weight-bolder">
      {{object.dni}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Fecha de nacimiento
    <p class="detalle-item-value font-weight-bolder">
      {{object.fecha_nacimiento}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Género
    <p class="detalle-item-value font-weight-bolder">
      {{object.genero}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Estado civil
    <p class="detalle-item-value font-weight-bolder">
      {{object.estado_civil}}
    </p>
  </div>
</div>
<!-- Datos Empleados -->
<div class="border-bottom-red-1">
  <h3 class="rotulo upper-case color-white text-shadow-black padding-normal-up-down">
    Datos Empleados
  </h3>
</div>
<div class="group-detalle">
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
        Área | Dependencia
    <p class="detalle-item-value font-weight-bolder">
      {{object.area}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
        Tipo empleado
    <p class="detalle-item-value font-weight-bolder">
      {{object.tipo_empleado}}
    </p>
  </div>
</div>
<!-- Datos - Usuario -->
<div class="border-bottom-red-1">
  <h3 class="rotulo upper-case color-white text-shadow-black padding-normal-up-down">
    Datos Usuarios
  </h3>
</div>
<div class="group-detalle">
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Nombre de usuario
    </p>
    <p class="detalle-item-value font-weight-bolder ">
      @{{object.usuario.username}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
    Correo electrónico (Institucional)
    </p>
    <p class="detalle-item-value font-weight-bolder ">
      {{object.usuario.email}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Contraseña
      {% if object.usuario == instance.usuario %}
        <a href="{%url "usuario:password_change" object.usuario.slug %}" class="link color-red"> (Cambiar) </a>
      {% endif %}
    </p>
    <p class="detalle-item-value font-weight-bolder">
      {{object.usuario.password}}
    </p>
  </div>
</div>
<!-- Datos - Extras -->
<div class="border-bottom-red-1">
  <h3 class="rotulo upper-case color-white text-shadow-black padding-normal-up-down">
    Domicilio 
  </h3>
</div>
<div class="group-detalle">
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Distrito 
    </p>
    <p class="detalle-item-value font-weight-bolder ">
        {{object.distrito}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Zona
    </p>
    <p class="detalle-item-value font-weight-bolder ">
        {{object.zona}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Via
    </p>
    <p class="detalle-item-value font-weight-bolder ">
        {{object.via}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Dirección
    </p>
    <p class="detalle-item-value font-weight-bolder ">
        {{object.direccion}}
    </p>
  </div>
</div>

<!-- Datos - Extras -->
<div class="border-bottom-red-1">
  <h3 class="rotulo upper-case color-white text-shadow-black padding-normal-up-down">
    Datos Extras
  </h3>
</div>
<div class="group-detalle">
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Teléfono (Personal)
    </p>
    <p class="detalle-item-value font-weight-bolder ">
        {% if object.telefono %}
          {{object.telefono}}
        {% else %}
          -------
        {% endif %}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Celular (Personal)
    </p>
    <p class="detalle-item-value font-weight-bolder ">
        {% if object.celular %}
          {{object.celular}}
        {% else %}
          -------
        {% endif %}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Correo Electrónico (Personal)
    </p>
    <p class="detalle-item-value font-weight-bolder ">
        {% if object.email %}
          {{object.email}}
        {% else %}
          -------
        {% endif %}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Observación (Personal)
    </p>
    <p class="detalle-item-value font-weight-bolder ">
        {% if object.observacion_persona %}
          {{object.observacion_persona}}
        {% else %}
          -------
        {% endif %}
    </p>
  </div>
</div>
{% endblock detalle_right_container %}
