{% extends 'base_detail.html '%}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% block titulo_perfil %} Aeronave {% endblock titulo_perfil %}

{% block src_avatar_modulo %} {% static "imagenes/png/Navidad_1.png"%} {% endblock src_avatar_modulo %}"
{% block alt_avatar_modulo %} Sistema de Mantenimiento Aereo {% endblock alt_avatar_modulo %}"
{% block url_menu_control %} {% url "catalogo_modulo_menu_sub_menu:empadronamiento_municipal_menu" %} {% endblock url_menu_control %}


{% block detalle_left_container %}
<figure class="container ">
  <img class="imagen-perfil border-black-2 margin-auto-left-right background-white"
       src="{{object.fotografia.url}}"
       alt="{{object.get_nombre_completo}}"/>
  <figcaption class="detalle-nombre padding-normal-left-right">
    <a href="{% url "aeronave:update" object.slug %}" class="rotulo link padding-normal-up-down display-block text-center font-weight-bolder text-shadow-black">
      <p>
        {{object.nombre}}
      </p>
      <p>
        {{object.apellido_paterno}} {{object.apellido_materno}}
      </p>
    </a>
    <p class="text-center border-top-red-1  padding-normal-up-down color-gris-oscuro font-weight-bolder ">
        {{object.nombre}} - {{object.tipo_aeronave.nombre}}
    </p>
  </figcaption>

  <div class="group-detalle">
    <div class="detalle-item">
      <p class="detalle-item-label font-weight-bolder">
        Descripción (Aeronave)
      <p class="detalle-item-area font-weight-bolder">
        {{object.descripcion_empleado}}
      </p>
    </div>
  </div>

  <div class="group-detalle">
    <div class="detalle-item">
      <p class="detalle-item-label font-weight-bolder">
        Observación (Aeronave)
      <p class="detalle-item-area font-weight-bolder">
        {{object.observacion_empleado}}
      </p>
    </div>
  </div>
   <div class="group-detalle">
    <div class="detalle-item">
      <p class="detalle-item-label font-weight-bolder">
       Activo
      <p class="font-weight-bolder">
          {% if object.activo == True %}
            <p class="color-verde-pastel font-weight-bolder icon-circle-check "></p>
          {% else %}
            <p class="color-red font-weight-bolder icon-circle-cross "></p>
          {% endif%}
      </p>
    </div>
  </div>
</figure>
{% endblock detalle_left_container %}
{% block detalle_right_container %}

<!-- Datos Empleados -->
<div class="border-bottom-red-1">
  <h3 class="rotulo upper-case color-white text-shadow-black padding-normal-up-down">
    Datos Aeronave
  </h3>
</div>
<div class="group-detalle">
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
        Tipo Aeronave
    <p class="detalle-item-value font-weight-bolder">
      {{object.tipo_aeronave}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
        Modelo
    <p class="detalle-item-value font-weight-bolder">
      {{object.modelo}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Marca
    <p class="detalle-item-value font-weight-bolder">
      {{object.marca}}
    </p>
  </div>
  <div class="detalle-item">
    <p class="detalle-item-label font-weight-bolder">
      Color
    <p class="detalle-item-value font-weight-bolder">
      {{object.color}}
    </p>
  </div>
</div>

{% endblock detalle_right_container %}
