{% for object in object_list%}
<tr class="table-body-row" id="table_body_row">
  <td class="table-body-row-data"><input type="checkbox" id="ck_{{object.id}}"></td>
  <td class="table-body-row-data"><a href="{% url "aeronave:detail" object.slug %}" class="link color-celeste">{{object.nombre}}</a></td>

  <td class="table-body-row-data">{{ object.tipo_aeronave }}</td>
  <td class="table-body-row-data">{{ object.modelo }}</td>
  <td class="table-body-row-data">{{ object.marca }}</td>
  <td class="table-body-row-data">{{ object.fotografia }}</td>
  <td class="table-body-row-data">{{ object.descripcion }}</td>
  {% if object.activo %}
    <td class="table-body-row-data color-verde-pastel text-center font-weight-bolder icon-circle-check "></td>
  {% else %}
    <td class="table-body-row-data color-red text-center font-weight-bolder icon-circle-cross "></td>
  {% endif%}
</tr>
{%endfor%}
